





验证 \- 仓颉语言库 API




































1. [**1\.** 仓颉编程语言库 API 概述](../../../libs_overview.html)
2. **2\.** std 模块❱
3. 1. [**2\.1\.** std 模块概述](../../../std/std_module_overview.html)
	2. **2\.2\.** std.core 包❱
	3. 1. [**2\.2\.1\.** core 包概述](../../../std/core/core_package_overview.html)
		2. [**2\.2\.2\.** 函数](../../../std/core/core_package_api/core_package_funcs.html)
		3. [**2\.2\.3\.** 类型别名](../../../std/core/core_package_api/core_package_types.html)
		4. [**2\.2\.4\.** 内置类型](../../../std/core/core_package_api/core_package_intrinsics.html)
		5. [**2\.2\.5\.** 接口](../../../std/core/core_package_api/core_package_interfaces.html)
		6. [**2\.2\.6\.** 类](../../../std/core/core_package_api/core_package_classes.html)
		7. [**2\.2\.7\.** 枚举](../../../std/core/core_package_api/core_package_enums.html)
		8. [**2\.2\.8\.** 结构体](../../../std/core/core_package_api/core_package_structs.html)
		9. [**2\.2\.9\.** 异常类](../../../std/core/core_package_api/core_package_exceptions.html)
		10. **2\.2\.10\.** 示例教程❱
		11. 1. [**2\.2\.10\.1\.** 仓颉并发编程示例](../../../std/core/core_samples/core_spawn_sample.html)
			2. [**2\.2\.10\.2\.** 使用 CString 与 C 代码交互示例](../../../std/core/core_samples/core_cstring_sample.html)
	4. **2\.3\.** std.argopt 包❱
	5. 1. [**2\.3\.1\.** argopt 包概述](../../../std/argopt/argopt_package_overview.html)
		2. [**2\.3\.2\.** 类](../../../std/argopt/argopt_package_api/argopt_package_classes.html)
		3. **2\.3\.3\.** 示例教程❱
		4. 1. [**2\.3\.3\.1\.** 长命令行参数解析](../../../std/argopt/argopt_samples/long_argument_parse.html)
			2. [**2\.3\.3\.2\.** 短命令行参数解析](../../../std/argopt/argopt_samples/short_argument_parse.html)
	6. **2\.4\.** std.ast 包❱
	7. 1. [**2\.4\.1\.** ast 包概述](../../../std/ast/ast_package_overview.html)
		2. [**2\.4\.2\.** 函数](../../../std/ast/ast_package_api/ast_package_funcs.html)
		3. [**2\.4\.3\.** 接口](../../../std/ast/ast_package_api/ast_package_interfaces.html)
		4. [**2\.4\.4\.** 类](../../../std/ast/ast_package_api/ast_package_classes.html)
		5. [**2\.4\.5\.** 枚举](../../../std/ast/ast_package_api/ast_package_enums.html)
		6. [**2\.4\.6\.** 结构体](../../../std/ast/ast_package_api/ast_package_structs.html)
		7. [**2\.4\.7\.** 异常类](../../../std/ast/ast_package_api/ast_package_exceptions.html)
		8. **2\.4\.8\.** 示例教程❱
		9. 1. [**2\.4\.8\.1\.** Macro With Context](../../../std/ast/ast_samples/context.html)
			2. [**2\.4\.8\.2\.** 语法树节点打印](../../../std/ast/ast_samples/dump.html)
			3. [**2\.4\.8\.3\.** 操作 AST 对象示例](../../../std/ast/ast_samples/operate.html)
			4. [**2\.4\.8\.4\.** 将仓颉源码解析为 AST 对象示例](../../../std/ast/ast_samples/parse.html)
			5. [**2\.4\.8\.5\.** 自定义报错接口](../../../std/ast/ast_samples/report.html)
			6. [**2\.4\.8\.6\.** 自定义访问函数遍历 AST 对象示例](../../../std/ast/ast_samples/traverse.html)
	8. **2\.5\.** std.binary 包❱
	9. 1. [**2\.5\.1\.** binary 包概述](../../../std/binary/binary_package_overview.html)
		2. [**2\.5\.2\.** 接口](../../../std/binary/binary_package_api/binary_package_interfaces.html)
	10. **2\.6\.** std.collection 包❱
	11. 1. [**2\.6\.1\.** collection 包概述](../../../std/collection/collection_package_overview.html)
		2. [**2\.6\.2\.** 函数](../../../std/collection/collection_package_api/collection_package_function.html)
		3. [**2\.6\.3\.** 接口](../../../std/collection/collection_package_api/collection_package_interface.html)
		4. [**2\.6\.4\.** 类](../../../std/collection/collection_package_api/collection_package_class.html)
		5. [**2\.6\.5\.** 结构体](../../../std/collection/collection_package_api/colleciton_package_struct.html)
		6. [**2\.6\.6\.** 异常类](../../../std/collection/collection_package_api/collection_package_exception.html)
		7. **2\.6\.7\.** 示例教程❱
		8. 1. [**2\.6\.7\.1\.** ArrayList 的 append/insert 函数](../../../std/collection/collection_package_samples/sample_arraylist_append_insert.html)
			2. [**2\.6\.7\.2\.** ArrayList 的 get/set 函数](../../../std/collection/collection_package_samples/sample_arraylist_get_set.html)
			3. [**2\.6\.7\.3\.** ArrayList 的 remove/clear/slice 函数](../../../std/collection/collection_package_samples/sample_arraylist_remove_clear_slice.html)
			4. [**2\.6\.7\.4\.** Hashmap 的 get/put/contains 函数](../../../std/collection/collection_package_samples/sample_hashmap_get_put_contains.html)
			5. [**2\.6\.7\.5\.** HashMap 的 putAll/remove/clear 函数](../../../std/collection/collection_package_samples/sample_hashmap_putall_remove_clear.html)
			6. [**2\.6\.7\.6\.** HashSet 的 put/iterator/remove 函数](../../../std/collection/collection_package_samples/sample_hashset_put_iterator_remove.html)
			7. [**2\.6\.7\.7\.** 迭代器操作函数](../../../std/collection/collection_package_samples/sample_iterator.html)
	12. **2\.7\.** std.collection.concurrent 包❱
	13. 1. [**2\.7\.1\.** collection.concurrent 包概述](../../../std/collection_concurrent/collection_concurrent_package_overview.html)
		2. [**2\.7\.2\.** 接口](../../../std/collection_concurrent/collection_concurrent_package_api/collection_concurrent_interface.html)
		3. [**2\.7\.3\.** 类](../../../std/collection_concurrent/collection_concurrent_package_api/collection_concurrent_class.html)
		4. **2\.7\.4\.** 示例教程❱
		5. 1. [**2\.7\.4\.1\.** ConcurrentHashMap 使用示例](../../../std/collection_concurrent/collection_concurrent_samples/sample_concurrenthashmap.html)
			2. [**2\.7\.4\.2\.** NonBlockingQueue 使用示例](../../../std/collection_concurrent/collection_concurrent_samples/sample_noblocking_queue.html)
	14. **2\.8\.** std.console 包❱
	15. 1. [**2\.8\.1\.** console 包概述](../../../std/console/console_package_overview.html)
		2. [**2\.8\.2\.** 类](../../../std/console/console_package_api/console_package_class.html)
		3. **2\.8\.3\.** 示例教程❱
		4. 1. [**2\.8\.3\.1\.** Console 示例](../../../std/console/console_samples/console_sample.html)
	16. **2\.9\.** std.convert 包❱
	17. 1. [**2\.9\.1\.** convert 包概述](../../../std/convert/convert_package_overview.html)
		2. [**2\.9\.2\.** 接口](../../../std/convert/convert_package_api/convert_package_interfaces.html)
		3. **2\.9\.3\.** 示例教程❱
		4. 1. [**2\.9\.3\.1\.** covert 使用示例](../../../std/convert/convert_samples/convert_samples.html)
	18. **2\.10\.** std.crypto.digest 包❱
	19. 1. [**2\.10\.1\.** crypto.digest 包概述](../../../std/crypto/digest/digest_package_overview.html)
		2. [**2\.10\.2\.** 函数](../../../std/crypto/digest/digest_package_api/digest_package_funcs.html)
		3. [**2\.10\.3\.** 接口](../../../std/crypto/digest/digest_package_api/digest_package_interfaces.html)
	20. **2\.11\.** std.crypto.cipher 包❱
	21. 1. [**2\.11\.1\.** crypto.cipher 包概述](../../../std/crypto/cipher/cipher_package_overview.html)
		2. [**2\.11\.2\.** 接口](../../../std/crypto/cipher/cipher_package_api/cipher_package_interfaces.html)
	22. **2\.12\.** std.database.sql 包❱
	23. 1. [**2\.12\.1\.** database.sql 包概述](../../../std/database_sql/database_sql_package_overview.html)
		2. [**2\.12\.2\.** 接口](../../../std/database_sql/database_sql_package_api/database_sql_package_interfaces.html)
		3. [**2\.12\.3\.** 类](../../../std/database_sql/database_sql_package_api/database_sql_package_classes.html)
		4. [**2\.12\.4\.** 枚举](../../../std/database_sql/database_sql_package_api/database_sql_package_enums.html)
		5. [**2\.12\.5\.** 异常类](../../../std/database_sql/database_sql_package_api/database_sql_package_exceptions.html)
		6. **2\.12\.6\.** 示例教程❱
		7. 1. [**2\.12\.6\.1\.** 实现数据库驱动查询功能示例](../../../std/database_sql/database_sql_samples/db_driver.html)
			2. [**2\.12\.6\.2\.** 获取数据库连接示例](../../../std/database_sql/database_sql_samples/db_get_connection.html)
			3. [**2\.12\.6\.3\.** 删除表、创建表示例](../../../std/database_sql/database_sql_samples/db_modify_table.html)
			4. [**2\.12\.6\.4\.** 执行数据库操作语句示例](../../../std/database_sql/database_sql_samples/db_operations.html)
			5. [**2\.12\.6\.5\.** 执行事务控制语句示例](../../../std/database_sql/database_sql_samples/db_transactions.html)
	24. **2\.13\.** std.ffi.python 包❱
	25. 1. [**2\.13\.1\.** ffi.python 包概述](../../../std/ffi_python/ffi_python_package_overview.html)
		2. [**2\.13\.2\.** 变量\&常量](../../../std/ffi_python/ffi_python_package_api/ffi_python_package_constants_vars.html)
		3. [**2\.13\.3\.** 接口](../../../std/ffi_python/ffi_python_package_api/ffi_python_package_interface.html)
		4. [**2\.13\.4\.** 类](../../../std/ffi_python/ffi_python_package_api/ffi_python_package_classes.html)
		5. [**2\.13\.5\.** 异常类](../../../std/ffi_python/ffi_python_package_api/ffi_python_package_exception.html)
	26. **2\.14\.** std.format 包❱
	27. 1. [**2\.14\.1\.** format 包概述](../../../std/format/format_package_overview.html)
		2. [**2\.14\.2\.** 接口](../../../std/format/format_package_api/format_package_interfaces.html)
		3. **2\.14\.3\.** 示例教程❱
		4. 1. [**2\.14\.3\.1\.** format 使用示例](../../../std/format/format_samples/format_samples.html)
	28. **2\.15\.** std.fs 包❱
	29. 1. [**2\.15\.1\.** fs 包概述](../../../std/fs/fs_package_overview.html)
		2. [**2\.15\.2\.** 类](../../../std/fs/fs_package_api/fs_package_classes.html)
		3. [**2\.15\.3\.** 枚举](../../../std/fs/fs_package_api/fs_package_enums.html)
		4. [**2\.15\.4\.** 结构体](../../../std/fs/fs_package_api/fs_package_structs.html)
		5. [**2\.15\.5\.** 异常类](../../../std/fs/fs_package_api/fs_package_exceptions.html)
		6. **2\.15\.6\.** 示例教程❱
		7. 1. [**2\.15\.6\.1\.** Directory 示例](../../../std/fs/fs_samples/directory_samples.html)
			2. [**2\.15\.6\.2\.** File 示例](../../../std/fs/fs_samples/file_samples.html)
			3. [**2\.15\.6\.3\.** FileInfo 示例](../../../std/fs/fs_samples/fileinfo_samples.html)
			4. [**2\.15\.6\.4\.** Path 示例](../../../std/fs/fs_samples/path_samples.html)
	30. **2\.16\.** std.io 包❱
	31. 1. [**2\.16\.1\.** io 包概述](../../../std/io/io_package_overview.html)
		2. [**2\.16\.2\.** 接口](../../../std/io/io_package_api/io_package_interfaces.html)
		3. [**2\.16\.3\.** 类](../../../std/io/io_package_api/io_package_classes.html)
		4. [**2\.16\.4\.** 枚举](../../../std/io/io_package_api/io_package_enums.html)
		5. [**2\.16\.5\.** 异常类](../../../std/io/io_package_api/io_package_exceptions.html)
		6. **2\.16\.6\.** 示例教程❱
		7. 1. [**2\.16\.6\.1\.** BufferedInputStream 示例](../../../std/io/io_samples/buffered_input_stream.html)
			2. [**2\.16\.6\.2\.** BufferedOutputStream 示例](../../../std/io/io_samples/buffered_output_stream.html)
			3. [**2\.16\.6\.3\.** ByteArrayStream 示例](../../../std/io/io_samples/byte_array_stream.html)
			4. [**2\.16\.6\.4\.** ChainedInputStream 示例](../../../std/io/io_samples/chained_input_stream.html)
			5. [**2\.16\.6\.5\.** MultiOutputStream 示例](../../../std/io/io_samples/multi_output_stream.html)
			6. [**2\.16\.6\.6\.** StringReader 示例](../../../std/io/io_samples/string_reader.html)
			7. [**2\.16\.6\.7\.** StringWriter 示例](../../../std/io/io_samples/string_writer.html)
	32. **2\.17\.** std.log 包❱
	33. 1. [**2\.17\.1\.** log 包概述](../../../std/log/stdlog_package_overview.html)
		2. [**2\.17\.2\.** 接口](../../../std/log/stdlog_package_api/stdlog_package_interfaces.html)
		3. [**2\.17\.3\.** 类](../../../std/log/stdlog_package_api/stdlog_package_classes.html)
		4. [**2\.17\.4\.** 枚举](../../../std/log/stdlog_package_api/stdlog_package_enums.html)
		5. **2\.17\.5\.** 示例教程❱
		6. 1. [**2\.17\.5\.1\.** 日志打印示例](../../../std/log/stdlog_samples/stdlog_sample.html)
	34. **2\.18\.** std.math 包❱
	35. 1. [**2\.18\.1\.** math 包概述](../../../std/math/math_package_overview.html)
		2. [**2\.18\.2\.** 函数](../../../std/math/math_package_api/math_package_funcs.html)
		3. [**2\.18\.3\.** 接口](../../../std/math/math_package_api/math_package_interfaces.html)
		4. **2\.18\.4\.** 示例教程❱
		5. 1. [**2\.18\.4\.1\.** 数学基础运算示例](../../../std/math/math_samples/math_basic_operation.html)
	36. **2\.19\.** std.math.numeric 包❱
	37. 1. [**2\.19\.1\.** math.numeric 包概述](../../../std/math_numeric/math_numeric_package_overview.html)
		2. [**2\.19\.2\.** 函数](../../../std/math_numeric/math_numeric_package_api/math_numeric_package_funcs.html)
		3. [**2\.19\.3\.** 枚举](../../../std/math_numeric/math_numeric_package_api/math_numeric_package_enums.html)
		4. [**2\.19\.4\.** 结构体](../../../std/math_numeric/math_numeric_package_api/math_numeric_package_structs.html)
		5. **2\.19\.5\.** 示例教程❱
		6. 1. [**2\.19\.5\.1\.** BigInt 基础数学运算示例](../../../std/math_numeric/math_numeric_samples/bigInt_basic_arithmetic.html)
			2. [**2\.19\.5\.2\.** BigInt 基本属性示例](../../../std/math_numeric/math_numeric_samples/bigInt_basic_prop.html)
			3. [**2\.19\.5\.3\.** BigInt 大小比较示例](../../../std/math_numeric/math_numeric_samples/bigInt_compare_opration.html)
			4. [**2\.19\.5\.4\.** Decimal 基础数学运算示例](../../../std/math_numeric/math_numeric_samples/decimal_basic_arithmetic.html)
			5. [**2\.19\.5\.5\.** Decimal 基本属性示例](../../../std/math_numeric/math_numeric_samples/decimal_basic_prop.html)
			6. [**2\.19\.5\.6\.** Decimal 大小比较示例](../../../std/math_numeric/math_numeric_samples/decimal_compare_opration.html)
	38. **2\.20\.** std.objectpool 包❱
	39. 1. [**2\.20\.1\.** objectpool 包概述](../../../std/objectpool/objectpool_package_overview.html)
		2. [**2\.20\.2\.** 类](../../../std/objectpool/objectpool_package_api/objectpool_package_classes.html)
	40. **2\.21\.** std.os 包❱
	41. 1. [**2\.21\.1\.** os 包概述](../../../std/os/os_package_overview.html)
		2. [**2\.21\.2\.** 函数](../../../std/os/os_package_api/os_package_funcs.html)
	42. **2\.22\.** std.os.posix 包❱
	43. 1. [**2\.22\.1\.** os.posix 包概述](../../../std/os_posix/os_posix_package_overview.html)
		2. [**2\.22\.2\.** 变量\&常量](../../../std/os_posix/os_posix_package_api/os_posix_package_constants_vars.html)
		3. [**2\.22\.3\.** 函数](../../../std/os_posix/os_posix_package_api/os_posix_package_funcs.html)
		4. **2\.22\.4\.** 示例教程❱
		5. 1. [**2\.22\.4\.1\.** 文件内容相关操作](../../../std/os_posix/os_posix_samples/os_posix_get_file_content_samples.html)
			2. [**2\.22\.4\.2\.** 文件信息相关操作](../../../std/os_posix/os_posix_samples/os_posix_get_file_info_samples.html)
			3. [**2\.22\.4\.3\.** 获取各类系统信息](../../../std/os_posix/os_posix_samples/os_posix_get_os_envinfo_samples.html)
			4. [**2\.22\.4\.4\.** 进程相关信息操作](../../../std/os_posix/os_posix_samples/os_posix_process_samples.html)
	44. **2\.23\.** std.os.process 包❱
	45. 1. [**2\.23\.1\.** os.process 包概述](../../../std/os_process/os_process_package_overview.html)
		2. [**2\.23\.2\.** 类](../../../std/os_process/os_process_package_api/os_process_package_classes.html)
		3. [**2\.23\.3\.** 枚举](../../../std/os_process/os_process_package_api/os_process_package_enums.html)
		4. [**2\.23\.4\.** 异常类](../../../std/os_process/os_process_package_api/os_process_package_exceptions.html)
		5. **2\.23\.5\.** 示例教程❱
		6. 1. [**2\.23\.5\.1\.** 当前进程相关操作](../../../std/os_process/os_process_samples/os_process_currentprocess_sample.html)
			2. [**2\.23\.5\.2\.** Windows 平台子进程结束后删除子进程可执行文件](../../../std/os_process/os_process_samples/os_process_rm_file_win_platform_sample.html)
			3. [**2\.23\.5\.3\.** 任意进程相关操作](../../../std/os_process/os_process_samples/os_process_sample.html)
			4. [**2\.23\.5\.4\.** 子进程相关操作](../../../std/os_process/os_process_samples/os_process_subprocess_sample.html)
	46. **2\.24\.** std.overflow 包❱
	47. 1. [**2\.24\.1\.** overflow 包概述](../../../std/overflow/overflow_package_overview.html)
		2. [**2\.24\.2\.** 接口](../../../std/overflow/overflow_package_api/overflow_package_interfaces.html)
		3. [**2\.24\.3\.** 异常类](../../../std/overflow/overflow_package_api/overflow_package_exceptions.html)
		4. **2\.24\.4\.** 示例教程❱
		5. 1. [**2\.24\.4\.1\.** 返回 Option 策略的示例](../../../std/overflow/overflow_samples/option.html)
			2. [**2\.24\.4\.2\.** 饱和策略的示例](../../../std/overflow/overflow_samples/saturating.html)
			3. [**2\.24\.4\.3\.** 抛出异常策略的示例](../../../std/overflow/overflow_samples/throwing.html)
			4. [**2\.24\.4\.4\.** 高位截断策略的示例](../../../std/overflow/overflow_samples/wrapping.html)
	48. **2\.25\.** std.random 包❱
	49. 1. [**2\.25\.1\.** random 包概述](../../../std/random/random_package_overview.html)
		2. [**2\.25\.2\.** 类](../../../std/random/random_package_api/random_package_classes.html)
	50. **2\.26\.** std.reflect 包❱
	51. 1. [**2\.26\.1\.** reflect 包概述](../../../std/reflect/reflect_package_overview.html)
		2. [**2\.26\.2\.** 函数](../../../std/reflect/reflect_package_api/reflect_package_funcs.html)
		3. [**2\.26\.3\.** 类](../../../std/reflect/reflect_package_api/reflect_package_classes.html)
		4. [**2\.26\.4\.** 枚举](../../../std/reflect/reflect_package_api/reflect_package_enums.html)
		5. [**2\.26\.5\.** 异常类](../../../std/reflect/reflect_package_api/reflect_package_exceptions.html)
		6. **2\.26\.6\.** 示例教程❱
		7. 1. [**2\.26\.6\.1\.** 注解的使用](../../../std/reflect/reflect_samples/annotation.html)
			2. [**2\.26\.6\.2\.** 动态加载的使用](../../../std/reflect/reflect_samples/dynload.html)
			3. [**2\.26\.6\.3\.** 成员信息的使用](../../../std/reflect/reflect_samples/memberInfo.html)
			4. [**2\.26\.6\.4\.** TypeInfo 的使用](../../../std/reflect/reflect_samples/typeInfo.html)
	52. **2\.27\.** std.regex 包❱
	53. 1. [**2\.27\.1\.** regex 包概述](../../../std/regex/regex_package_overview.html)
		2. [**2\.27\.2\.** 类](../../../std/regex/regex_package_api/regex_package_classes.html)
		3. [**2\.27\.3\.** 结构体](../../../std/regex/regex_package_api/regex_package_structs.html)
		4. [**2\.27\.4\.** 异常类](../../../std/regex/regex_package_api/regex_package_exceptions.html)
		5. **2\.27\.5\.** 示例教程❱
		6. 1. [**2\.27\.5\.1\.** Regex 示例](../../../std/regex/regex_samples/regex_sample.html)
	54. **2\.28\.** std.runtime 包❱
	55. 1. [**2\.28\.1\.** runtime 包概述](../../../std/runtime/runtime_package_overview.html)
		2. [**2\.28\.2\.** 函数](../../../std/runtime/runtime_package_api/runtime_package_funcs.html)
		3. [**2\.28\.3\.** 结构体](../../../std/runtime/runtime_package_api/runtime_package_structs.html)
	56. **2\.29\.** std.socket 包❱
	57. 1. [**2\.29\.1\.** socket 包概述](../../../std/socket/socket_package_overview.html)
		2. [**2\.29\.2\.** 变量\&常量](../../../std/socket/socket_package_api/socket_package_constants_vars.html)
		3. [**2\.29\.3\.** 接口](../../../std/socket/socket_package_api/socket_package_interfaces.html)
		4. [**2\.29\.4\.** 类](../../../std/socket/socket_package_api/socket_package_classes.html)
		5. [**2\.29\.5\.** 枚举](../../../std/socket/socket_package_api/socket_package_enums.html)
		6. [**2\.29\.6\.** 结构体](../../../std/socket/socket_package_api/socket_package_structs.html)
		7. [**2\.29\.7\.** 异常类](../../../std/socket/socket_package_api/socket_package_exceptions.html)
		8. **2\.29\.8\.** 示例教程❱
		9. 1. [**2\.29\.8\.1\.** 属性配置使用用例](../../../std/socket/socket_samples/socket_option.html)
			2. [**2\.29\.8\.2\.** TCP 使用示例](../../../std/socket/socket_samples/tcp.html)
			3. [**2\.29\.8\.3\.** UDP 使用示例](../../../std/socket/socket_samples/udp.html)
			4. [**2\.29\.8\.4\.** UNIX 使用示例](../../../std/socket/socket_samples/unix.html)
			5. [**2\.29\.8\.5\.** UnixDatagram 使用示例](../../../std/socket/socket_samples/unix_datagram.html)
	58. **2\.30\.** std.sort 包❱
	59. 1. [**2\.30\.1\.** sort 包概述](../../../std/sort/sort_package_overview.html)
		2. [**2\.30\.2\.** 函数](../../../std/sort/sort_package_api/sort_package_funcs.html)
		3. [**2\.30\.3\.** 接口](../../../std/sort/sort_package_api/sort_package_interfaces.html)
		4. **2\.30\.4\.** 示例教程❱
		5. 1. [**2\.30\.4\.1\.** 对 Array 进行排序](../../../std/sort/sort_samples/sort_sample_array.html)
	60. **2\.31\.** std.sync 包❱
	61. 1. [**2\.31\.1\.** sync 包概述](../../../std/sync/sync_package_overview.html)
		2. [**2\.31\.2\.** 变量\&常量](../../../std/sync/sync_package_api/sync_package_constants_vars.html)
		3. [**2\.31\.3\.** 函数](../../../std/sync/sync_package_api/sync_package_funcs.html)
		4. [**2\.31\.4\.** 接口](../../../std/sync/sync_package_api/sync_package_interfaces.html)
		5. [**2\.31\.5\.** 类](../../../std/sync/sync_package_api/sync_package_classes.html)
		6. [**2\.31\.6\.** 枚举](../../../std/sync/sync_package_api/sync_package_enums.html)
		7. [**2\.31\.7\.** 结构体](../../../std/sync/sync_package_api/sync_package_structs.html)
		8. [**2\.31\.8\.** 异常类](../../../std/sync/sync_package_api/sync_package_exceptions.html)
		9. **2\.31\.9\.** 示例教程❱
		10. 1. [**2\.31\.9\.1\.** 示例](../../../std/sync/sync_samples/sync_samples.html)
	62. **2\.32\.** std.time 包❱
	63. 1. [**2\.32\.1\.** time 包概述](../../../std/time/time_package_overview.html)
		2. [**2\.32\.2\.** 接口](../../../std/time/time_package_api/time_package_interfaces.html)
		3. [**2\.32\.3\.** 类](../../../std/time/time_package_api/time_package_classes.html)
		4. [**2\.32\.4\.** 枚举](../../../std/time/time_package_api/time_package_enums.html)
		5. [**2\.32\.5\.** 结构体](../../../std/time/time_package_api/time_package_structs.html)
		6. [**2\.32\.6\.** 异常类](../../../std/time/time_package_api/time_package_exceptions.html)
		7. **2\.32\.7\.** 示例教程❱
		8. 1. [**2\.32\.7\.1\.** DateTime 比较](../../../std/time/time_samples/datetime_compare.html)
			2. [**2\.32\.7\.2\.** DateTime 与 String 类型的转换](../../../std/time/time_samples/datetime_parse.html)
			3. [**2\.32\.7\.3\.** 获取日期时间信息](../../../std/time/time_samples/datetime_prop.html)
			4. [**2\.32\.7\.4\.** 同一时间在不同时区的本地时间](../../../std/time/time_samples/datetime_tz.html)
			5. [**2\.32\.7\.5\.** 利用 MonoTime 作计时](../../../std/time/time_samples/monotime_test.html)
	64. **2\.33\.** std.unicode 包❱
	65. 1. [**2\.33\.1\.** unicode 包概述](../../../std/unicode/unicode_package_overview.html)
		2. [**2\.33\.2\.** 接口](../../../std/unicode/unicode_package_api/unicode_package_interfaces.html)
	66. **2\.34\.** std.unittest 包❱
	67. 1. [**2\.34\.1\.** unittest 包概述](../../../std/unittest/unittest_package_overview.html)
		2. [**2\.34\.2\.** 函数](../../../std/unittest/unittest_package_api/unittest_package_functions.html)
		3. [**2\.34\.3\.** 接口](../../../std/unittest/unittest_package_api/unittest_package_interfaces.html)
		4. [**2\.34\.4\.** 类](../../../std/unittest/unittest_package_api/unittest_package_classes.html)
		5. [**2\.34\.5\.** 枚举](../../../std/unittest/unittest_package_api/unittest_package_enums.html)
		6. [**2\.34\.6\.** 结构体](../../../std/unittest/unittest_package_api/unittest_package_structs.html)
		7. **2\.34\.7\.** 示例教程❱
		8. 1. [**2\.34\.7\.1\.** 快速入门](../../../std/unittest/unittest_samples/unittest_getting_started.html)
			2. [**2\.34\.7\.2\.** 基础概念](../../../std/unittest/unittest_samples/unittest_basics.html)
			3. [**2\.34\.7\.3\.** 参数化测试](../../../std/unittest/unittest_samples/unittest_parameterized_tests.html)
			4. [**2\.34\.7\.4\.** 动态测试](../../../std/unittest/unittest_samples/unittest_dynamic_tests.html)
	68. **2\.35\.** std.unittest.mock 包❱
	69. 1. [**2\.35\.1\.** unittest.mock 包概述](../../../std/unittest_mock/unittest_mock_package_overview.html)
		2. [**2\.35\.2\.** 函数](../../../std/unittest_mock/unittest_mock_package_api/unittest_mock_package_functions.html)
		3. [**2\.35\.3\.** 接口](../../../std/unittest_mock/unittest_mock_package_api/unittest_mock_package_interfaces.html)
		4. [**2\.35\.4\.** 类](../../../std/unittest_mock/unittest_mock_package_api/unittest_mock_package_classes.html)
		5. [**2\.35\.5\.** 枚举](../../../std/unittest_mock/unittest_mock_package_api/unittest_mock_package_enums.html)
		6. [**2\.35\.6\.** 宏](../../../std/unittest_mock/unittest_mock_package_api/unittest_mock_package_macros.html)
		7. **2\.35\.7\.** 示例教程❱
		8. 1. [**2\.35\.7\.1\.** 快速入门](../../../std/unittest_mock/unittest_mock_samples/mock_framework_getting_started.html)
			2. [**2\.35\.7\.2\.** 基础概念](../../../std/unittest_mock/unittest_mock_samples/mock_framework_basics.html)
			3. [**2\.35\.7\.3\.** 桩](../../../std/unittest_mock/unittest_mock_samples/mock_framework_stubs.html)
			4. [**2\.35\.7\.4\.** 验证](../../../std/unittest_mock/unittest_mock_samples/mock_framework_verification.html)
	70. **2\.36\.** std.unittest.testmacro 包❱
	71. 1. [**2\.36\.1\.** unittest.testmacro 包概述](../../../std/unittest_testmacro/unittest_testmacro_package_overview.html)
		2. [**2\.36\.2\.** 宏](../../../std/unittest_testmacro/unittest_testmacro_package_api/unittest_testmacro_package_macros.html)
4. **3\.** compress 模块❱
5. 1. [**3\.1\.** compress 模块概述](../../../compress/compress_module_overview.html)
	2. **3\.2\.** compress.zlib 包❱
	3. 1. [**3\.2\.1\.** zlib 包概述](../../../compress/zlib/zlib_package_overview.html)
		2. [**3\.2\.2\.** 类](../../../compress/zlib/zlib_package_api/zlib_package_classes.html)
		3. [**3\.2\.3\.** 枚举](../../../compress/zlib/zlib_package_api/zlib_package_enums.html)
		4. [**3\.2\.4\.** 异常类](../../../compress/zlib/zlib_package_api/zlib_package_exceptions.html)
		5. **3\.2\.5\.** 示例教程❱
		6. 1. [**3\.2\.5\.1\.** Deflate 格式数据的压缩和解压](../../../compress/zlib/zlib_samples/deflate_compress_decompress.html)
			2. [**3\.2\.5\.2\.** Gzip 格式数据的压缩和解压](../../../compress/zlib/zlib_samples/gzip_compress_decompress.html)
6. **4\.** crypto 模块❱
7. 1. [**4\.1\.** crypto 模块概述](../../../crypto/crypto_module_overview.html)
	2. **4\.2\.** crypto.crypto 包❱
	3. 1. [**4\.2\.1\.** crypto 包概述](../../../crypto/crypto/crypto_package_overview.html)
		2. [**4\.2\.2\.** 类](../../../crypto/crypto/crypto_package_api/crypto_package_classes.html)
		3. [**4\.2\.3\.** 结构体](../../../crypto/crypto/crypto_package_api/crypto_package_structs.html)
		4. [**4\.2\.4\.** 异常类](../../../crypto/crypto/crypto_package_api/crypto_package_exceptions.html)
		5. **4\.2\.5\.** 示例教程❱
		6. 1. [**4\.2\.5\.1\.** SecureRandom 使用](../../../crypto/crypto/crypto_samples/sample_secure_random.html)
			2. [**4\.2\.5\.2\.** SM4 使用](../../../crypto/crypto/crypto_samples/sample_crypto.html)
	4. **4\.3\.** crypto.digest 包❱
	5. 1. [**4\.3\.1\.** digest 包概述](../../../crypto/digest/digest_package_overview.html)
		2. [**4\.3\.2\.** 类](../../../crypto/digest/digest_package_api/digest_package_classes.html)
		3. [**4\.3\.3\.** 结构体](../../../crypto/digest/digest_package_api/digest_package_structs.html)
		4. [**4\.3\.4\.** 异常类](../../../crypto/digest/digest_package_api/digest_package_exceptions.html)
		5. **4\.3\.5\.** 示例教程❱
		6. 1. [**4\.3\.5\.1\.** digest 使用](../../../crypto/digest/digest_samples/sample_digest.html)
	6. **4\.4\.** crypto.keys 包❱
	7. 1. [**4\.4\.1\.** keys 包概述](../../../crypto/keys/keys_package_overview.html)
		2. [**4\.4\.2\.** 类](../../../crypto/keys/keys_package_api/keys_package_classes.html)
		3. [**4\.4\.3\.** 枚举](../../../crypto/keys/keys_package_api/keys_package_enums.html)
		4. [**4\.4\.4\.** 结构体](../../../crypto/keys/keys_package_api/keys_package_structs.html)
		5. **4\.4\.5\.** 示例教程❱
		6. 1. [**4\.4\.5\.1\.** keys 使用](../../../crypto/keys/keys_samples/sample_keys.html)
	8. **4\.5\.** crypto.x509 包❱
	9. 1. [**4\.5\.1\.** x509 包概述](../../../crypto/x509/x509_package_overview.html)
		2. [**4\.5\.2\.** 类型别名](../../../crypto/x509/x509_package_api/x509_package_type.html)
		3. [**4\.5\.3\.** 接口](../../../crypto/x509/x509_package_api/x509_package_interfaces.html)
		4. [**4\.5\.4\.** 类](../../../crypto/x509/x509_package_api/x509_package_classes.html)
		5. [**4\.5\.5\.** 枚举](../../../crypto/x509/x509_package_api/x509_package_enums.html)
		6. [**4\.5\.6\.** 结构体](../../../crypto/x509/x509_package_api/x509_package_structs.html)
		7. [**4\.5\.7\.** 异常类](../../../crypto/x509/x509_package_api/x509_package_exceptions.html)
		8. **4\.5\.8\.** 示例教程❱
		9. 1. [**4\.5\.8\.1\.** x509 使用](../../../crypto/x509/x509_samples/sample_x509.html)
8. **5\.** encoding 模块❱
9. 1. [**5\.1\.** encoding 模块概述](../../../encoding/encoding_module_overview.html)
	2. **5\.2\.** encoding.base64 包❱
	3. 1. [**5\.2\.1\.** base64 包概述](../../../encoding/base64/base64_package_overview.html)
		2. [**5\.2\.2\.** 函数](../../../encoding/base64/base64_package_api/base64_package_funcs.html)
		3. **5\.2\.3\.** 示例教程❱
		4. 1. [**5\.2\.3\.1\.** Byte 数组和 Base64 互转](../../../encoding/base64/base64_samples/base64.html)
	4. **5\.3\.** encoding.hex 包❱
	5. 1. [**5\.3\.1\.** hex 包概述](../../../encoding/hex/hex_package_overview.html)
		2. [**5\.3\.2\.** 函数](../../../encoding/hex/hex_package_api/hex_package_funcs.html)
		3. **5\.3\.3\.** 示例教程❱
		4. 1. [**5\.3\.3\.1\.** Byte 数组和 Hex 互转](../../../encoding/hex/hex_samples/hex.html)
	6. **5\.4\.** encoding.json 包❱
	7. 1. [**5\.4\.1\.** json 包概述](../../../encoding/json/json_package_overview.html)
		2. [**5\.4\.2\.** 接口](../../../encoding/json/json_package_api/encoding_json_package_interfaces.html)
		3. [**5\.4\.3\.** 类](../../../encoding/json/json_package_api/encoding_json_package_classes.html)
		4. [**5\.4\.4\.** 枚举](../../../encoding/json/json_package_api/encoding_json_package_enums.html)
		5. [**5\.4\.5\.** 异常类](../../../encoding/json/json_package_api/encoding_json_package_exceptions.html)
		6. **5\.4\.6\.** 示例教程❱
		7. 1. [**5\.4\.6\.1\.** JsonArray 使用示例](../../../encoding/json/json_samples/json_array_sample.html)
			2. [**5\.4\.6\.2\.** JsonValue 和 String 互相转换](../../../encoding/json/json_samples/json_value_sample.html)
			3. [**5\.4\.6\.3\.** JsonValue 与 DataModel 的转换](../../../encoding/json/json_samples/to_json_sample.html)
	8. **5\.5\.** encoding.json.stream 包❱
	9. 1. [**5\.5\.1\.** json.stream 包概述](../../../encoding/json_stream/json_stream_package_overview.html)
		2. [**5\.5\.2\.** 接口](../../../encoding/json_stream/json_stream_package_api/encoding_json_stream_package_interfaces.html)
		3. [**5\.5\.3\.** 类](../../../encoding/json_stream/json_stream_package_api/encoding_json_stream_package_classes.html)
		4. [**5\.5\.4\.** 枚举](../../../encoding/json_stream/json_stream_package_api/encoding_json_stream_package_enums.html)
		5. [**5\.5\.5\.** 结构体](../../../encoding/json_stream/json_stream_package_api/encoding_json_stream_package_structs.html)
		6. **5\.5\.6\.** 示例教程❱
		7. 1. [**5\.5\.6\.1\.** 使用 Json Stream 进行反序列化](../../../encoding/json_stream/json_stream_samples/sample_json_reader.html)
			2. [**5\.5\.6\.2\.** 使用 Json Stream 进行序列化](../../../encoding/json_stream/json_stream_samples/sample_json_writer.html)
			3. [**5\.5\.6\.3\.** WriteConfig 使用示例](../../../encoding/json_stream/json_stream_samples/sample_json_writeconfig.html)
	10. **5\.6\.** encoding.url 包❱
	11. 1. [**5\.6\.1\.** url 包概述](../../../encoding/url/url_package_overview.html)
		2. [**5\.6\.2\.** 类](../../../encoding/url/url_package_api/url_package_classes.html)
		3. [**5\.6\.3\.** 异常类](../../../encoding/url/url_package_api/url_package_exceptions.html)
		4. **5\.6\.4\.** 示例教程❱
		5. 1. [**5\.6\.4\.1\.** Form 的构造使用](../../../encoding/url/url_samples/form.html)
			2. [**5\.6\.4\.2\.** URL 解析函数 parse 的使用](../../../encoding/url/url_samples/url_parse.html)
	12. **5\.7\.** encoding.xml 包❱
	13. 1. [**5\.7\.1\.** xml 包概述](../../../encoding/xml/xml_package_overview.html)
		2. [**5\.7\.2\.** 接口](../../../encoding/xml/xml_package_api/xml_package_interfaces.html)
		3. [**5\.7\.3\.** 类](../../../encoding/xml/xml_package_api/xml_package_classes.html)
		4. [**5\.7\.4\.** 异常类](../../../encoding/xml/xml_package_api/xml_package_exceptions.html)
		5. **5\.7\.5\.** 示例教程❱
		6. 1. [**5\.7\.5\.1\.** Xml DOM 模式使用](../../../encoding/xml/xml_samples/xml_dom_mode.html)
			2. [**5\.7\.5\.2\.** Xml SAX 解析模式使用](../../../encoding/xml/xml_samples/xml_sax_mode.html)
10. **6\.** fuzz 模块❱
11. 1. [**6\.1\.** fuzz 模块概述](../../../fuzz/fuzz_module_overview.html)
	2. **6\.2\.** fuzz.fuzz 包❱
	3. 1. [**6\.2\.1\.** fuzz 包概述](../../../fuzz/fuzz/fuzz_package_overview.html)
		2. [**6\.2\.2\.** 常量变量](../../../fuzz/fuzz/fuzz_package_api/fuzz_package_constants_vars.html)
		3. [**6\.2\.3\.** 类](../../../fuzz/fuzz/fuzz_package_api/fuzz_package_classes.html)
		4. [**6\.2\.4\.** 异常类](../../../fuzz/fuzz/fuzz_package_api/fuzz_package_exceptions.html)
		5. **6\.2\.5\.** 示例教程❱
		6. 1. [**6\.2\.5\.1\.** 测试猜测字符功能](../../../fuzz/fuzz/fuzz_samples/basic_fuzzing_test.html)
			2. [**6\.2\.5\.2\.** cjvm 使用 cj\-fuzz 功能](../../../fuzz/fuzz/fuzz_samples/cj-fuzz_cjvm_backend.html)
			3. [**6\.2\.5\.3\.** 使用 DataProvider 功能进行测试](../../../fuzz/fuzz/fuzz_samples/dataprovider_usage.html)
			4. [**6\.2\.5\.4\.** 使用 FakeCoverage 避免 DataProvider 模式下 Fuzz 异常终止](../../../fuzz/fuzz/fuzz_samples/fake_coverage_usage.html)
			5. [**6\.2\.5\.5\.** 打印 fuzz 使用方法](../../../fuzz/fuzz/fuzz_samples/print_cj-fuzz_usage.html)
			6. [**6\.2\.5\.6\.** 实验性特性\-覆盖率信息打印](../../../fuzz/fuzz/fuzz_samples/print_coverage.html)
			7. [**6\.2\.5\.7\.** 栈回溯缺失的处理方案](../../../fuzz/fuzz/fuzz_samples/stack_backtrace_missing_solution.html)
12. **7\.** log 模块❱
13. 1. [**7\.1\.** log 模块概述](../../../log/log_module_overview.html)
	2. **7\.2\.** log 包❱
	3. 1. [**7\.2\.1\.** log 包概述](../../../log/log/log_package_overview.html)
		2. [**7\.2\.2\.** 类型别名](../../../log/log/log_package_api/log_package_types.html)
		3. [**7\.2\.3\.** 函数](../../../log/log/log_package_api/log_package_funcs.html)
		4. [**7\.2\.4\.** 接口](../../../log/log/log_package_api/log_package_interfaces.html)
		5. [**7\.2\.5\.** 类](../../../log/log/log_package_api/log_package_classes.html)
		6. [**7\.2\.6\.** 结构体](../../../log/log/log_package_api/log_package_structs.html)
		7. [**7\.2\.7\.** 异常类](../../../log/log/log_package_api/log_package_exceptions.html)
		8. **7\.2\.8\.** 示例教程❱
		9. 1. [**7\.2\.8\.1\.** 日志打印示例](../../../log/log/log_samples/log_sample.html)
14. **8\.** net 模块❱
15. 1. [**8\.1\.** net 模块概述](../../../net/net_module_overview.html)
	2. **8\.2\.** net.http 包❱
	3. 1. [**8\.2\.1\.** http 包概述](../../../net/http/http_package_overview.html)
		2. [**8\.2\.2\.** 函数](../../../net/http/http_package_api/http_package_funcs.html)
		3. [**8\.2\.3\.** 接口](../../../net/http/http_package_api/http_package_interfaces.html)
		4. [**8\.2\.4\.** 类](../../../net/http/http_package_api/http_package_classes.html)
		5. [**8\.2\.5\.** 枚举](../../../net/http/http_package_api/http_package_enums.html)
		6. [**8\.2\.6\.** 结构体](../../../net/http/http_package_api/http_package_structs.html)
		7. [**8\.2\.7\.** 异常类](../../../net/http/http_package_api/http_package_exceptions.html)
		8. **8\.2\.8\.** 示例教程❱
		9. 1. [**8\.2\.8\.1\.** client](../../../net/http/http_samples/http_client.html)
			2. [**8\.2\.8\.2\.** cookie](../../../net/http/http_samples/cookie.html)
			3. [**8\.2\.8\.3\.** log](../../../net/http/http_samples/log.html)
			4. [**8\.2\.8\.4\.** server](../../../net/http/http_samples/http_server.html)
			5. [**8\.2\.8\.5\.** webSocket](../../../net/http/http_samples/webSocket.html)
	4. **8\.3\.** net.tls 包❱
	5. 1. [**8\.3\.1\.** tls 包概述](../../../net/tls/tls_package_overview.html)
		2. [**8\.3\.2\.** 类](../../../net/tls/tls_package_api/tls_package_classes.html)
		3. [**8\.3\.3\.** 枚举](../../../net/tls/tls_package_api/tls_package_enums.html)
		4. [**8\.3\.4\.** 结构体](../../../net/tls/tls_package_api/tls_package_structs.html)
		5. [**8\.3\.5\.** 异常类](../../../net/tls/tls_package_api/tls_package_exceptions.html)
		6. **8\.3\.6\.** 示例教程❱
		7. 1. [**8\.3\.6\.1\.** 服务端证书及公钥在一份文件中](../../../net/tls/tls_samples/cert_key.html)
			2. [**8\.3\.6\.2\.** 客户端示例](../../../net/tls/tls_samples/client.html)
			3. [**8\.3\.6\.3\.** 证书热更新](../../../net/tls/tls_samples/hot_update_cert.html)
			4. [**8\.3\.6\.4\.** 服务端示例](../../../net/tls/tls_samples/server.html)
16. **9\.** serialization 模块❱
17. 1. [**9\.1\.** serialization 模块概述](../../../serialization/serialization_module_overview.html)
	2. **9\.2\.** serialization.serialization 包❱
	3. 1. [**9\.2\.1\.** serialization 包概述](../../../serialization/serialization/serialization_package_overview.html)
		2. [**9\.2\.2\.** 函数](../../../serialization/serialization/serialization_package_api/serialization_package_functions.html)
		3. [**9\.2\.3\.** 接口](../../../serialization/serialization/serialization_package_api/serialization_package_interfaces.html)
		4. [**9\.2\.4\.** 类](../../../serialization/serialization/serialization_package_api/serialization_package_classes.html)
		5. [**9\.2\.5\.** 异常类](../../../serialization/serialization/serialization_package_api/serialization_package_exceptions.html)
		6. **9\.2\.6\.** 示例教程❱
		7. 1. [**9\.2\.6\.1\.** class 序列化和反序列化](../../../serialization/serialization/serialization_samples/serialize_and_deserialize_class.html)
			2. [**9\.2\.6\.2\.** HashSet 和 HashMap 序列化](../../../serialization/serialization/serialization_samples/serialize_hashmap_and_hashset.html)




















* Light
* Rust
* Coal
* Navy
* Ayu






仓颉语言库 API
=========




















[mock 框架验证 API](#mock-框架验证-api)
===============================


验证 API 是 mock 框架的一部分，其功能如下：


* 验证是否进行了某些调用。
* 验证特定调用的次数。
* 验证是否使用特定参数进行调用。
* 验证调用是否按特定顺序进行。


验证通过检查在执行测试期间构建的调用日志来运行断言。调用日志涵盖让 **mock** 和 **spy** 对象在测试中可访问的所有调用。只能验证在 mock/spy 对象上进行的调用。


`Verify` 类是验证 API 的入口。
**@Called** 宏用于构建关于代码的断言。



**@Called** 宏调用构造了一个 **验证语句** ，即根据调用日志检查代码的单个断言。
**Verify** 类本身是静态方法的集合。诸如 `that` 、 `ordered` 、 `unordered` 等方法可构造**验证块**。


[示例](#示例)
---------



```
let foo = mock<Foo>()
//配置foo
@On(foo.bar()).returns()
foo.bar()
Verify.that(@Called(foo.bar())) //验证bar至少被调用一次

```

[验证语句和 `@Called` 宏](#验证语句和-called-宏)
------------------------------------


验证语句由 `VerifyStatement` 类表示。 `VerifyStatement` 实例由 `@Called` 宏创建。


`@Called` 宏调用接受[桩签名](./mock_framework_basics.html#%E6%A1%A9%E7%AD%BE%E5%90%8D)，类似于 `@On` 宏，并且适用[参数匹配器](./mock_framework_basics.html#%E5%8F%82%E6%95%B0%E5%8C%B9%E9%85%8D%E5%99%A8)的规则。


示例：



```
@Called(foo.bar(1, _)) //匹配bar方法调用的验证语句，其中第一个参数为'1'
@Called(foo.baz)       //匹配baz属性getter调用的验证语句

```

`VerifyStatement` 类提供的 API 类似于桩配置时可用的基数说明符。


基数函数为：


* `once()`
* `atLeastOnce()`
* `times(expectedTimes: Int64)`
* `times(min!: Int64, max!: Int64)`
* `atLeastTimes(minTimesExpected: Int64)`
* `never()`


调用这些函数会返回相同的 `VerifyStatement` 实例。同一语句不能重置基数，且必须在语句传递到验证块生成器函数之前设置基数。如果没有显式设置基数，则使用默认基数。



```
Verify.that(@Called(foo.bar()).atLeastOnce())
Verify.that(@Called(foo.bar()).once())

```

[验证块](#验证块)
-----------


验证块通常包含一个或多个验证语句，且检查块中的语句会构成更复杂的断言。


在调用验证块时会立即验证，不验证之后发生的任何调用。
验证块不会改变调用日志的状态：日志中的每个调用都可以被任意数量的块检查。独立检查各个块，前后块之间没有依赖关系。除非在块之间发生了一些调用，或者手动清除了调用日志，否则调用验证块的顺序并不重要。


验证语句本身不执行任何类型的验证，必须传递到验证块中进行验证。


单个验证块仅检查在块内验证语句中提到的 mock/spy 对象上的调用，忽略对其他对象的调用。


`Verify` 类包含几个构建验证块的静态方法。**有序**验证块用于检查调用的确切顺序。**无序**验证块只验证调用的次数。


### [有序](#有序)


如需检查一个或多个对象的调用顺序，使用 `ordered` 验证块生成器。


`ordered` 静态函数接收一个验证语句数组。



```
for (i in 0..4) {
    foo.bar(i % 2)
}

Verify.ordered(
    @Called(foo.bar(0)),
    @Called(foo.bar(1)),
    @Called(foo.bar(0)),
    @Called(foo.bar(1))
)

```

允许检查多个对象的调用顺序。



```
for (i in 0..4) {
    if (i % 2 == 0) {
        fooEven.bar(i)
    }
    else {
        forOdd.bar(i)
    }
}

Verify.ordered(
    @Called(fooEven.bar(0)),
    @Called(fooOdd.bar(1)),
    @Called(fooEven.bar(2)),
    @Called(fooOdd.bar(3)),
)

```

**有序**验证的默认基数说明符是 `once()` 。如有需要，可使用其他基数说明符。



```
for (i in 0..4) {
    foo1.bar(i)
}

for (i in 0..4) {
    foo2.bar(i)
}

Verify.ordered(
    @Called(foo1.bar(_).times(4)),
    @Called(foo2.bar(_).times(4))
)

```

对于**有序**验证，须列出对（块中提到的） mock/spy 对象的所有调用。任何未列出的调用都会导致验证失败。



```
foo.bar(0)
foo.bar(10)
foo.bar(1000)

Verify.ordered(
    @Called(foo.bar(0)),
    @Called(foo.bar(10))
)

```

输出：



```
验证失败
    以下调用未匹配到任何语句：
        foo.bar(...) at example_test.cj:6

```

### [无序](#无序)


无序验证只检查其验证语句的调用次数。


对于**无序**验证，除非显式指定，否则使用 `atLeastOnce()` 基数，即检查至少进行了一次的调用。



```
for (i in 0..4) {
    foo.bar(i % 2)
}

//验证是否至少调用了一次使用参数0和参数1的bar
Verify.unordered(
    @Called(foo.bar(0)),
    @Called(foo.bar(1))
)

//验证是否调用了两次使用参数0和参数1的bar
Verify.unordered(
    @Called(foo.bar(0)).times(2),
    @Called(foo.bar(1)).times(2)
)

//验证是否总共调用了四次bar
Verify.unordered(
    @Called(foo.bar(_)).times(4)
)

```

**无序**验证包括 **Partial** 和 **Exhaustive** 。


默认为 **Exhaustive** ，需要列出验证语句所提到的 mock/spy 对象的所有调用。
**Partial** 只列出**部分**调用。



```
for (i in 0..4) {
    foo.bar(i)
}

//失败，foo.bar()的两次调用未在块中列出
Verify.unordered(
    @Called(foo.bar(0)).once(),
    @Called(foo.bar(1)).once()
)

//忽略无关调用
Verify.unordered(Partial,
    @Called(foo.bar(0)).once(),
    @Called(foo.bar(1)).once()
)

```

### [动态构建验证块](#动态构建验证块)


`ordered` 和 `unordered` 函数为接受 lambda 的重载函数。可使用 `checkThat(statement: VerifyStatement)` 函数动态添加语句。


示例：



```
let totalTimes = 40
for (i in 0..totalTimes) {
    foo.bar(i % 2)
}

Verify.ordered { v =>
    for (j in 0..totalTimes) {
        v.checkThat(@Called(foo.bar(eq(j % 2))))
    }
}

```

[其他 API](#其他-api)
-----------------


另外，`Verify` 类还提供了以下工具。


* that(statement: VerifyStatement) 为 Verify.unordered(Paritial, statement) 的别名，用于检查单个语句，不需要列出对应 mock/spy 对象的所有调用。
* noInteractions(mocks: Array) 用于检查没有进行调用的 mock/spy 对象。
* `clearInvocationLog()` 将日志重置为空状态。这会影响后面的所有验证块，但并不影响桩预期。


示例：



```
foo.bar()
Verify.that(@Called(foo.bar())) // OK
Verify.noInteractions(foo)      // 失败，foo.bar() 调用在日志中
Verify.clearInvocationLog()     // 清除日志
Verify.noInteractions(foo)      // 从日志中清除所有与 foo 的交互
Verify.that(@Called(foo.bar())) // 失败

```

[`Verify` 类 API](#verify-类-api)
-------------------------------



```
public static func that(statement: VerifyStatement): Unit

public static func unordered(
    exhaustive: Exhaustiveness,
    collectStatements: (UnorderedVerifier) -> Unit
): Unit

public static func unordered(
    collectStatements: (UnorderedVerifier) -> Unit
): Unit

public static func unordered(statements: Array<VerifyStatement>): Unit

public static func unordered(
    exhaustive: Exhaustiveness,
    statements: Array<VerifyStatement>
): Unit

public static func ordered(
    collectStatements: (OrderedVerifier) -> Unit
): Unit

public static func ordered(statements: Array<VerifyStatement>): Unit

public static func clearInvocationLog(): Unit

public static func noInteractions(mocks: Array<Object>): Unit

```

[验证错误](#验证错误)
-------------


验证失败时，会抛出 `VerificationFailedException` ，mock 框架会给出报告。不要捕获该异常。


失败类型如下：


* **调用次数太少**或**调用次数太多**：调用次数与块中的语句不匹配。
* **语句不匹配**：块中存在与日志中的调用不匹配的语句。
* **调用不匹配**：日志中存在与块中的语句不匹配的调用。
* **意外调用**：**有序**验证块需要的是其他的调用。
* **无用交互**： **noInteractions** 检测到意外调用。


还有另一种失败类型**不相交的语句**，不一定是测试代码本身有问题。调用匹配到多个语句时，就会上报这种失败类型。在单个验证块中使用具有不相交参数匹配器的语句可能会导致此错误。不允许在语句和调用之间进行模糊匹配。


[示例和模式](#示例和模式)
---------------


使用验证 API 的常见模式是验证测试代码（无论是函数、类还是整个包）与外部对象之间的交互。
如下所示：


* 创建 **spy** 对象。
* 将这些 spy 对象传递给测试代码。
* 验证代码和 spy 对象之间的交互。


### [验证调用数量](#验证调用数量)



```
func testDataCaching() {
    // 创建必要的spy或mock对象
    let uncachedRepo = spy(Repository())
    let invalidationTracker = mock<InvalidationTracker>()
    @On(invalidationTracker.getTimestamp()).returns(0)

    // 准备测试数据
    let cachedRepo = CachedRepistory(uncachedRepo, invalidationTracker)

    // 运行测试代码
    for (i in 0..10) {
        cachedRepo.get(TEST_ID)
    }

    // 验证得出只查询了一次基础repo，没有对未缓存repo的其他调用
    Verify.unordered(Exhaustive,
        @Called(uncachedRepo.get(TEST_ID)).once()
    )

    // 清除日志
    Verify.clearInvocationLog()

    // 设置其他行为
    @On(invalidationTracker.getTimestamp()).returns(1)

    for (i in 0..10) {
        cachedRepo.get(TEST_ID)
    }

    // 自上次清除后只进行了一次调用
    Verify.unordered(Exhaustive,
        @Called(uncachedRepo.get(TEST_ID)).once()
    )
}

```

### [验证带特定参数的调用](#验证带特定参数的调用)



```
func testDrawingTriangle() {
    // 创建必要的 spy 或 mock 对象
    let canvas = spy(Canvas())

    // 运行代码
    canvas.draw(Triangle())

    // 测试三角形由3条线和3个点组成

    // 使用 'that' 块
    Verify.that(
        @Called(canvas.draw(ofType<Dot>())).times(3)
    )
    Verify.that(
        @Called(canvas.draw(ofType<Line>())).times(3)
    )

    //或者使用部分无序验证块

    Verify.unordered(Partial, // 未知线条和点实际绘制的顺序
        @Called(canvas.draw(ofType<Dot>())).times(3),
        @Called(canvas.draw(ofType<Line>())).times(3)
    )

    // 使用枚举块时，必须枚举出所有调用
    Verify.unordered(Exhaustive,
        @Called(canvas.draw(ofType<Triangle>())).once(),
        @Called(canvas.draw(ofType<Dot>())).times(3),
        @Called(canvas.draw(ofType<Line>())).times(3)
    )

    // 验证用例从未调用入参为 Square 类型的 draw 函数
    Verify.that(
        @Called(canvas.draw(ofType<Square>)).never()
    )

    // 如果想通过更复杂的条件来区分参数
    // 可以使用下面的模式
    let isDot = { f: Figure =>
        f is Dot //此为更复杂的逻辑
    }

    Verify.that(
        @Called(canvas.draw(argThat(isDot))).times(3)
    )

    // 注意，属于同一个块的语句必须明确只匹配了一个调用
    // 以下为反例，有些调用匹配了两个语句
    Verify.unordered(
        @Called(canvas.draw(_)).times(7),
        @Called(canvas.draw(ofType<Dot>())).times(3)
    )
}

```

### [验证调用顺序](#验证调用顺序)



```
func testBuildFlight() {
    let plane = spy(Plane())

    FlightBuilder(plane).planFlight(Shenzhen, Shanghai, Beijing).execute()

    Verify.ordered(
        @Called(plane.takeOffAt(Shenzhen)),
        @Called(plane.landAt(Shanghai)),
        @Called(plane.takeOffAt(Shanghai)),
        @Called(plane.landAt(Beijing))
    )
}

```

[预期与验证 API](#预期与验证-api)
-----------------------


配置桩时，可以设置**预期**和验证API覆盖测试代码的一些断言。这种情况别无他法，只能选择更能反映测试意图的方法。


一般情况下，建议避免重复验证块中的配置步骤。



```
let foo = mock<Foo>()
@On(foo.bar(_)).returns() //如果从未使用此桩，测试失败

foo.bar(1)
foo.bar(2)

Verify.that(
    //不需要，自动验证
    @Called(foo.bar(_)).atLeastOnce()
)

//但可以检查调用的数量和具体的参数
Verify.unordered(
    @Called(foo.bar(1)).once(),
    @Called(foo.bar(2)).once()
)

```

上面的示例可以使用预期重写：



```
let foo = mock<Foo>()
@On(foo.bar(1)).returns().once() //预期只被调用一次，参数为`1`
@On(foo.bar(2)).returns().once() //预期只被调用一次，参数为`2`

foo.bar(1)
foo.bar(2)

//如果没有桩被触发，则测试失败

```






























